<!--
  :danger: ATTENTION : Cette section est la propriété exclusive de PeakConversion.
  Elle est protégée par la loi sur la propriété intellectuelle en vertu de l'article L122-4 du Code de la Propriété Intellectuelle en France.
  Vous n'avez pas le droit de copier, vendre ou redistribuer cette section sous quelque forme que ce soit sans autorisation.
  Pour accéder légalement à ces sections personnalisables, visitez notre site : https://peakconversion.fr/pages/sections-personnalisables
-->

"name": "Section Slider PKM",
"settings": [
    {
      "type": "header",
      "content": "This section is a property of PeakConversion",
      "info": "Do not sell or reproduce. contact us at franklinjounda@gmail.com for more info"
    },
    {
        "type":"header",
        "content":"Sub-Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Text Content",
      "default": "New arrivals"
    },
    {
      "type": "range",
      "id": "sub_heading_size",
      "label": "Font Size",
      "default": 13,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "sub_heading_size_mobile",
      "label": "Mobile Font Size",
      "default": 13,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "sub_heading_weight",
      "label": "Font Weight",
      "default": 700,
      "min": 100,
      "max": 900,
      "step": 100
    },
    {
      "type": "color",
      "id": "sub_heading_color",
      "label": "Color",
      "default":"#b4b4b2"
    },
    {
        "type":"header",
        "content":"Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Text Content",
      "default": "Vintage collection"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Font Size",
      "default": 36,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "label": "Mobile Font Size",
      "default": 26,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_weight",
      "label": "Font Weight",
      "default": 700,
      "min": 100,
      "max": 900,
      "step": 100
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Color",
      "default":"#ffffff"
    },
    {
        "type":"header",
        "content":"Description"
    },
    {
      "type": "richtext",
      "id": "desc_text",
      "label": "Text Content",
      "default": "<p>Crafted from a durable aluminum frame and genuine leather or wood, it enhances any workspace. </p>"
    },
    {
      "type": "range",
      "id": "desc_size",
      "label": "Font Size",
      "default": 15,
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desc_size_mobile",
      "label": "Mobile Font Size",
      "default": 14,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "Color",
      "default":"#ffffff"
    },
    {
        "type":"header",
        "content":"Heading Card"
    },
     {
      "type": "range",
      "id": "card_heading_size",
      "label": "Font Size",
      "default": 24,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_heading_size_mobile",
      "label": "Mobile Font Size",
      "default": 20,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_heading_weight",
      "label": "Font Weight",
      "default": 700,
      "min": 100,
      "max": 900,
      "step": 100
    },
    {
      "type": "color",
      "id": "card_heading_color",
      "label": "Color",
      "default":"#ffffff"
    },
    {
        "type":"header",
        "content":"Description Card"
    },
     {
      "type": "range",
      "id": "card_desc_size",
      "label": "Font Size",
      "default": 15,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "card_desc_size_mobile",
      "label": "Mobile Font Size",
      "default": 14,
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "card_desc_color",
      "label": "Color",
      "default":"#ffffff"
    },
    {
        "type":"header",
        "content":"Card"
    },
]